<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviles.josen.trabajomoviles">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Multiply_Activity">
            <intent-filter>
                <action android:name="com.moviles.josen.trabajomoviles.Multiply_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".MyBoundService"
                 android:exported="true"
                 android:process=":my_process">
            <intent-filter>
                <action android:name="com.moviles.josen.trabajomoviles.action.BOUNDSERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <service
            android:name=".MyService"
            android:exported="false" />

    </application>

</manifest>